<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.dateMapper">
  <select id="findAll" resultType="com.example.demo.domain.Date">
    select * from date
  </select>

  <select id="findOne" resultType="com.example.demo.domain.Date">
    select * from  date where word= #{word}
  </select>
  <select id="count" >
    select count * from  
  </select>

  <insert id="save"  >
    insert into date (no,word , year,month,day) values(#{no},#{word}, #{year},#{month},#{day})
     </insert>
  <update id="update">
    update date set year=#{year},month=#{month},day=#{day} where word=#{word}

  </update>
<delete id="delete">
  delete  from date where word=#{word}
</delete>

</mapper>